.logo {
	font-family: Work Sans;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
    padding-left: 31px;
    padding-top: 15px;
}


li {
	display:inline-block;
    text-decoration: none;
    padding-right: 31px;
    color: #252525;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 20px;

}

li a{
	display:inline-block;
    text-decoration: none;
    padding-right: 31px;
    color: #252525;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 20px;
}


a {
	color: #252525;
	font-family: Work Sans;
    font-weight: bold;
    font-size: 20px;
}

a:hover{
	color: blue;
}



ul{
	list-style-type: none;
    float: right;
}


h1 {
	color: #252525;
    font-family: Work Sans;
    width: 80%;
    font-size: 56px;
    padding: 144px;
    line-height: 76px;
}

h1 a {
	font-size: 60px;
	text-decoration: none;
}

#colorCycle {
	background-color: #C30; 
	border: medium solid #FF0; 
	padding-top: 5px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px; 
	color: #FFF;
	text-align: center; 
	animation-name: homeCycle; 
	animation-duration:6s; 
	animation-direction:alternate; 
	animation-iteration-count:infinite; 

	-webkit-animation-name: homeCycle; 
	-webkit-animation-duration:6s; 
	-webkit-animation-direction:alternate; 
	-webkit-animation-iteration-count:infinite; }	

	@keyframes homeCycle 
	{
	0% {background-color:#006;} 
	25% {background-color:#060;} 
	50% {background-color:#CC3200;} 
	75% {background-color:#603;} 
	} 

	@-webkit-keyframes homeCycle 
	{ 
	0% {background-color:#006;} 
	25% {background-color:#060;} 
	50% {background-color:#CC3200;} 
	75% {background-color:#603;} 
	}
	}