.logo {
	font-family: Work Sans;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
    padding-left: 31px;
    padding-top: 15px;
}


li {
	display:inline-block;
    text-decoration: none;
    padding-right: 31px;
    color: #252525;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 20px;

}

li a{
	display:inline-block;
    text-decoration: none;
    padding-right: 31px;
    color: #252525;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 20px;
}


a {
	color: #252525;
	font-family: Work Sans;
    font-weight: bold;
    font-size: 20px;
}

a:hover{
	color: white;
}



ul{
	list-style-type: none;
    float: right;
}


h1 {
	color: #252525;
    font-family: Work Sans;
    width: 80%;
    font-size: 56px;
    padding: 144px;
    line-height: 80px;
}

h1 a {
	font-size: 60px;
	text-decoration: none;
}

.background {
	display: block;
    background-color: antiquewhite;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}